# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/
*.iml
/build/
/out/
/.gradle/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Resource fork files (werden beim Kopieren von Files erzeugt)
._*

# macOS metadata files in archives (z.B. ZIP)
.Spotlight-V100
.Trashes
.fseventsd

# Icon file on folders
Icon?